<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sokoban AI</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="game-container">

<h1>🧩 SOKOBAN AI</h1>

<div class="info">

Moves :
<span id="moves">0</span>

</div>

<div id="status"></div>

<div id="board" class="board"></div>

<div class="controls">

<button onclick="moveUp()">⬆</button>

</div>

<div class="controls">

<button onclick="moveLeft()">⬅</button>

<button onclick="moveDown()">⬇</button>

<button onclick="moveRight()">➡</button>

</div>

<div class="controls">

<button onclick="resetGame()">
🔄 Reset
</button>

<button onclick="nextLevel()">
⏭ Next Level
</button>

</div>

<div class="controls">

<a href="/">

<button>
🏠 Home
</button>

</a>

</div>

</div>

<script src="{{ url_for('static', filename='sokoban_v2.js') }}"></script>

</body>
</html>
